<link rel="stylesheet" href="{{ asset('bundles/dspsoftscronmanager/main.css') }}" />

<ul>
    <li><a href="{{ path('dsp_cm_crontasks_list') }}">{{ 'cron_task.list'|trans }}</a></li>
    <li><a href="{{ path('dsp_cm_crontasks_log') }}">{{ 'cron_task_log.list'|trans }}</a></li>
</ul>

{% block body %}{% endblock %}
