{% extends '@DspSoftsCronManager/base.html.twig' %}

{% block body %}
    <h3>Log d'exécution des crons</h3>

    {{ form(formSearch) }}

    {% if cronTaskLogList|length > 0 %}
        <table class="dsp_cm">
            <thead>
                <tr>
                    <th>Cron</th>
                    <th>PID</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Relancer</th>
                    <th>Statut</th>
                    <th>Log</th>
                </tr>
            </thead>
            <tbody>
                {% for cronTaskLog in cronTaskLogList %}
                    <tr>
                        <td>{{ cronTaskLog.cronTask.name }}</td>
                        <td>{{ cronTaskLog.pid }} {% if cronTaskLog.pid != null %}<a onclick="if (!confirm('Etes-vous sûr(e) de vouloir tuer ce process ?')) return false;" href="{{ path('dsp_cm_crontasks_kill', {cronTaskLog: cronTaskLog.id}) }}">Kill</a>{% endif %}</td>
                        <td>{{ cronTaskLog.dateStart|date('d/m/Y H:i:s') }}</td>
                        <td>
                            {% if cronTaskLog.dateEnd is not null %}
                                {{ cronTaskLog.dateEnd|date('d/m/Y H:i:s') }}
                            {% endif %}
                        </td>
                        <td><a href="{{ path('dsp_cm_crontasks_log_relaunch', {cronTask: cronTaskLog.cronTask.id}) }}">Relancer</a></td>
                        <td>{{ cronTaskLog.status }}</td>
                        <td><a href="{{ path('dsp_cm_crontasks_log_view', {cronTaskLog: cronTaskLog.id}) }}">log</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
